<form action="/process" method="POST">
    <label for="firstName">
        First Name:
    </label>
    <input type="text" id="firstname" name="firstName">

    <label for="lastName">
        Last Name:
    </label>
    <input type="text" id="lastName" name="lastName">

    <label for="phoneNo">
        Phone No:
    </label>
    <input type="text" id="phoneNo" name="phoneNo">

    <label for="message">
        Message
    </label>
    <textarea id="message" name="message"></textarea>

    <input type="submit" value="Contact Us">


</form>